Source: ansible-demo
Section: utils
Priority: optional
Maintainer: Your Name <your.email@example.com>
Build-Depends: python3, python3-setuptools
Standards-Version: 4.5.0
Homepage: https://github.com/Nexgy/nexgy-demo

Package: ansible-demo
Architecture: all
Depends: ${misc:Depends}, python3, ansible
Description: Utility for running Ansible playbooks
 This package allows running Ansible playbooks from the command line.
